In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('zillo_clean1.csv')

In [3]:
df.head()

,address,price,floor_size,bathrooms,bedrooms,est_mortgage,zprice,latitude,longitude,FACTS,FEATURES,APPLIANCES INCLUDED,ROOM TYPES,CONSTRUCTION,ADDITIONAL FEATURES,OTHER
0,"['124 Mackenzie St', 'Brooklyn', 'NY 11235']",520000.0,2700.0,4.0,3.0,1966.0,1519349.0,40.580120,-73.94042,['nan'],"['900 sqft basement', 'Attic', 'Deck', 'Finish...","['Dishwasher', 'Dryer', 'Microwave', 'Refriger...","['Dining room', 'Family room', 'Laundry room',...","['Exterior material: Stucco', 'Roof type: Comp...","['Jacuzzi / Whirlpool', 'Living room', 'Parkin...","['Floor size: 2,700 sqft', 'Heating: Gas', 'La..."
1,"['36 Claver Pl', 'Brooklyn', 'NY 11238']",3195000.0,4500.0,6.0,6.0,12596.0,2649417.0,40.682095,-73.95778,"['Lot: 2,000 sqft', 'Multi Family', 'Built in ...","['Deck', 'Fenced Yard', 'Finished basement', '...","['Dishwasher', 'Dryer', 'Washer']","['Dining room', 'Family room', 'Library', 'Off...","['Exterior material: Other', 'Stories: 4', 'St...",['Vintage'],"['Floor size: 4,500 sqft', 'Last remodel year:..."
2,"['755 Belmont Ave # 01', 'Brooklyn', 'NY 11208']",499000.0,NaN,3.0,4.0,1913.0,NaN,40.672760,-73.88184,"['Baths: 2 full, 1 half', 'Single Family', '4 ...",[''],['nan'],['nan'],['nan'],['nan'],"['Last remodel year: 2017', 'Zillow Home ID: 2..."
3,"['250 W 15th St APT I', 'New York', 'NY 10011']",850000.0,725.0,1.0,1.0,3351.0,901980.0,40.739900,-74.00140,"['Cooperative', 'Built in 1930', '8 days on Zi...","['Elevator', 'Fireplace', 'Garden', 'Patio']",['Dishwasher'],['nan'],['Unit count: 59'],"['bike_room', 'cats', 'co_purchase', 'dogs', '...","['Floor size: 725 sqft', 'Zillow Home ID: 2100..."
4,"['2318 E 63rd St', 'Brooklyn', 'NY 11234']",1890000.0,4800.0,4.0,4.0,7451.0,1711219.0,40.612465,-73.90996,['nan'],"['1600 sqft basement', 'Barbecue', 'Cable Read...","['Dishwasher', 'Dryer', 'Freezer', 'Garbage di...","['Breakfast nook', 'Dining room', 'Family room...","['Exterior material: Brick, Metal, Other, Ston...",['nan'],"['Floor size: 4,800 sqft', 'Heating: Gas', 'La..."

In [43]:
df1 = df.iloc[:1,:]

In [44]:
df1

,address,price,floor_size,bathrooms,bedrooms,est_mortgage,zprice,latitude,longitude,FACTS,FEATURES,APPLIANCES INCLUDED,ROOM TYPES,CONSTRUCTION,ADDITIONAL FEATURES,OTHER
0,"['124 Mackenzie St', 'Brooklyn', 'NY 11235']",520000.0,2700.0,4.0,3.0,1966.0,1519349.0,40.58012,-73.94042,['nan'],"['900 sqft basement', 'Attic', 'Deck', 'Finish...","['Dishwasher', 'Dryer', 'Microwave', 'Refriger...","['Dining room', 'Family room', 'Laundry room',...","['Exterior material: Stucco', 'Roof type: Comp...","['Jacuzzi / Whirlpool', 'Living room', 'Parkin...","['Floor size: 2,700 sqft', 'Heating: Gas', 'La..."

In [45]:
type(df1)

pandas.core.frame.DataFrame

In [48]:
df1['address'].apply(pd.Series)

                                              0
0  ['124 Mackenzie St', 'Brooklyn', 'NY 11235']

In [52]:
type(df1['address'][0])

str

In [53]:
# so i need to change all the list into ";".join() becouse when i write it into the csv, i get strings only with []s