In [2]:
import pandas as pd
import numpy as np
import re

In [662]:
df = pd.read_csv('~/Desktop/Bootcamp/Week5/listings_zillow.csv')
df.shape

(135, 16)

In [663]:
df.head()

,address,price,floor_size,bathrooms,bedrooms,est_mortgage,zprice,latitude,longitude,FACTS,FEATURES,APPLIANCES INCLUDED,ROOM TYPES,CONSTRUCTION,ADDITIONAL FEATURES,OTHER
0,"124 Mackenzie St,\rBrooklyn, NY 11235","$520,000","2,700 sqft",4 baths,3 beds,"$1,966","$1,519,349",40580120,-73940420,NaN,\r900 sqft basement\rAttic\rDeck\rFinished bas...,\rDishwasher\rDryer\rMicrowave\rRefrigerator\r...,\rDining room\rFamily room\rLaundry room\rMast...,\rExterior material: Stucco\rRoof type: Compos...,\rJacuzzi / Whirlpool\rLiving room\rParking Ty...,"\rFloor size: 2,700 sqft\rHeating: Gas\rLast r..."
1,"36 Claver Pl,\rBrooklyn, NY 11238","$3,195,000","4,500 sqft",6 baths,6 beds,"$12,596","$2,649,417",40682095,-73957780,"\rLot: 2,000 sqft\rMulti Family\rBuilt in 1901...",\rDeck\rFenced Yard\rFinished basement\rFirepl...,\rDishwasher\rDryer\rWasher,\rDining room\rFamily room\rLibrary\rOffice\rW...,\rExterior material: Other\rStories: 4\rStruct...,\rVintage\r\r,"\rFloor size: 4,500 sqft\rLast remodel year: 1..."
2,"755 Belmont Ave # 01,\rBrooklyn, NY 11208","$499,000",#NAME?,3 baths,4 beds,"$1,913",NaN,40672760,-73881840,"\rBaths: 2 full, 1 half\rSingle Family\r4 days...",\r\r,NaN,NaN,NaN,NaN,\rLast remodel year: 2017\rZillow Home ID: 209...
3,"250 W 15th St APT I,\rNew York, NY 10011","$850,000",725 sqft,1 bath,1 bed,"$3,351","$901,980",40739900,-74001400,\rCooperative\rBuilt in 1930\r8 days on Zillow...,\rElevator\rFireplace\rGarden\rPatio\r,\rDishwasher\r\r,NaN,\rUnit count: 59\r\r,\rbike_room\rcats\rco_purchase\rdogs\rgifts\rl...,\rFloor size: 725 sqft\rZillow Home ID: 210055...
4,"2318 E 63rd St,\rBrooklyn, NY 11234","$1,890,000","4,800 sqft",4 baths,4 beds,"$7,451","$1,711,219",40612465,-73909960,NaN,\r1600 sqft basement\rBarbecue\rCable Ready\rC...,\rDishwasher\rDryer\rFreezer\rGarbage disposal...,\rBreakfast nook\rDining room\rFamily room\rLa...,"\rExterior material: Brick, Metal, Other, Ston...",NaN,"\rFloor size: 4,800 sqft\rHeating: Gas\rLast r..."

In [664]:
df['FEATURES'][1]

'\rDeck\rFenced Yard\rFinished basement\rFireplace\rFlooring: Hardwood\rGarden\rIntercom\rLawn\rMother-in-Law Apartment\rParking: None\rPatio'

In [665]:
df['FEATURES'][1].strip()

'Deck\rFenced Yard\rFinished basement\rFireplace\rFlooring: Hardwood\rGarden\rIntercom\rLawn\rMother-in-Law Apartment\rParking: None\rPatio'

In [666]:
v = df['FEATURES'][1]

In [667]:
v.strip().split('\r')

['Deck',
 'Fenced Yard',
 'Finished basement',
 'Fireplace',
 'Flooring: Hardwood',
 'Garden',
 'Intercom',
 'Lawn',
 'Mother-in-Law Apartment',
 'Parking: None',
 'Patio']

In [668]:
df['FEATURES'].head()

0    \r900 sqft basement\rAttic\rDeck\rFinished bas...
1    \rDeck\rFenced Yard\rFinished basement\rFirepl...
2                                                 \r\r
3               \rElevator\rFireplace\rGarden\rPatio\r
4    \r1600 sqft basement\rBarbecue\rCable Ready\rC...
Name: FEATURES, dtype: object

In [669]:
#lets clean all the columns
#address
df['address'].head()

0        124 Mackenzie St,\rBrooklyn, NY 11235
1            36 Claver Pl,\rBrooklyn, NY 11238
2    755 Belmont Ave # 01,\rBrooklyn, NY 11208
3     250 W 15th St APT I,\rNew York, NY 10011
4          2318 E 63rd St,\rBrooklyn, NY 11234
Name: address, dtype: object

In [670]:
type(df['address'][2])

str

In [671]:
df['address'][2].split(',')

['755 Belmont Ave # 01', '\rBrooklyn', ' NY 11208']

In [672]:
map(lambda x:x.strip(),df['address'][2].split(','))

['755 Belmont Ave # 01', 'Brooklyn', 'NY 11208']

In [673]:
# to strip a string
def strip(x):
    return x.strip()

# to strip a list of strings
def strip_list(L):
    return map(strip,L)

def split(x):
    return x.split(',')

def split_r(x):
    return x.split('\r')

def clean_string(x):
    return map(strip_list,map(split,df[x]))

def clean_string_r(x):
    return map(strip_list,map(split_r,strip_list(df[x])))

In [674]:
print df['address'][2].split(',')

print map(strip,df['address'][2].split(','))

print strip_list(df['address'][2].split(','))

['755 Belmont Ave # 01', '\rBrooklyn', ' NY 11208']
['755 Belmont Ave # 01', 'Brooklyn', 'NY 11208']
['755 Belmont Ave # 01', 'Brooklyn', 'NY 11208']

In [675]:
# here the 'address' column is cleaned and converted into a list of ['street','borogh', 'state zip']
df['address'] = map(strip_list,map(lambda x:x.split(','),df['address']))

In [676]:
df['ROOM TYPES'].head()

0    \rDining room\rFamily room\rLaundry room\rMast...
1    \rDining room\rFamily room\rLibrary\rOffice\rW...
2                                                  NaN
3                                                  NaN
4    \rBreakfast nook\rDining room\rFamily room\rLa...
Name: ROOM TYPES, dtype: object

In [677]:
strip(df['ROOM TYPES'][1])
split_r(strip(df['ROOM TYPES'][1]))

['Dining room', 'Family room', 'Library', 'Office', 'Walk-in closet']

In [678]:
df.dtypes

address                object
price                  object
floor_size             object
bathrooms              object
bedrooms               object
est_mortgage           object
zprice                 object
latitude                int64
longitude               int64
FACTS                  object
FEATURES               object
APPLIANCES INCLUDED    object
ROOM TYPES             object
CONSTRUCTION           object
ADDITIONAL FEATURES    object
OTHER                  object
dtype: object

In [679]:
df['price'][3]

'$850,000 '

In [680]:
#df[['ROOM TYPES','ADDITIONAL FEATURES','APPLIANCES INCLUDED','FACTS','OTHER','CONSTRUCTION']].astype(str)

In [681]:
# converting intp strings the last 7 columns
df.iloc[:,9:16]=df.iloc[:,9:16].astype(str)

In [682]:
df.dtypes

address                object
price                  object
floor_size             object
bathrooms              object
bedrooms               object
est_mortgage           object
zprice                 object
latitude                int64
longitude               int64
FACTS                  object
FEATURES               object
APPLIANCES INCLUDED    object
ROOM TYPES             object
CONSTRUCTION           object
ADDITIONAL FEATURES    object
OTHER                  object
dtype: object

In [683]:
df[['ROOM TYPES','ADDITIONAL FEATURES','APPLIANCES INCLUDED','FACTS','OTHER','CONSTRUCTION']]=\
df[['ROOM TYPES','ADDITIONAL FEATURES','APPLIANCES INCLUDED','FACTS','OTHER','CONSTRUCTION']].astype(str)

In [684]:
df.dtypes

address                object
price                  object
floor_size             object
bathrooms              object
bedrooms               object
est_mortgage           object
zprice                 object
latitude                int64
longitude               int64
FACTS                  object
FEATURES               object
APPLIANCES INCLUDED    object
ROOM TYPES             object
CONSTRUCTION           object
ADDITIONAL FEATURES    object
OTHER                  object
dtype: object

In [685]:
df['ROOM TYPES'].head()

0    \rDining room\rFamily room\rLaundry room\rMast...
1    \rDining room\rFamily room\rLibrary\rOffice\rW...
2                                                  nan
3                                                  nan
4    \rBreakfast nook\rDining room\rFamily room\rLa...
Name: ROOM TYPES, dtype: object

In [686]:
#clean_string_r('ROOM TYPES')

In [687]:
col_to_clean = ['FEATURES','ROOM TYPES','ADDITIONAL FEATURES','APPLIANCES INCLUDED','FACTS','OTHER','CONSTRUCTION']

In [688]:
for col in col_to_clean:
    df[col]=clean_string_r(col)

In [689]:
df.head()

,address,price,floor_size,bathrooms,bedrooms,est_mortgage,zprice,latitude,longitude,FACTS,FEATURES,APPLIANCES INCLUDED,ROOM TYPES,CONSTRUCTION,ADDITIONAL FEATURES,OTHER
0,"[124 Mackenzie St, Brooklyn, NY 11235]","$520,000","2,700 sqft",4 baths,3 beds,"$1,966","$1,519,349",40580120,-73940420,[nan],"[900 sqft basement, Attic, Deck, Finished base...","[Dishwasher, Dryer, Microwave, Refrigerator, W...","[Dining room, Family room, Laundry room, Maste...","[Exterior material: Stucco, Roof type: Composi...","[Jacuzzi / Whirlpool, Living room, Parking Typ...","[Floor size: 2,700 sqft, Heating: Gas, Last re..."
1,"[36 Claver Pl, Brooklyn, NY 11238]","$3,195,000","4,500 sqft",6 baths,6 beds,"$12,596","$2,649,417",40682095,-73957780,"[Lot: 2,000 sqft, Multi Family, Built in 1901,...","[Deck, Fenced Yard, Finished basement, Firepla...","[Dishwasher, Dryer, Washer]","[Dining room, Family room, Library, Office, Wa...","[Exterior material: Other, Stories: 4, Structu...",[Vintage],"[Floor size: 4,500 sqft, Last remodel year: 19..."
2,"[755 Belmont Ave # 01, Brooklyn, NY 11208]","$499,000",#NAME?,3 baths,4 beds,"$1,913",NaN,40672760,-73881840,"[Baths: 2 full, 1 half, Single Family, 4 days ...",[],[nan],[nan],[nan],[nan],"[Last remodel year: 2017, Zillow Home ID: 2095..."
3,"[250 W 15th St APT I, New York, NY 10011]","$850,000",725 sqft,1 bath,1 bed,"$3,351","$901,980",40739900,-74001400,"[Cooperative, Built in 1930, 8 days on Zillow,...","[Elevator, Fireplace, Garden, Patio]",[Dishwasher],[nan],[Unit count: 59],"[bike_room, cats, co_purchase, dogs, gifts, li...","[Floor size: 725 sqft, Zillow Home ID: 2100550..."
4,"[2318 E 63rd St, Brooklyn, NY 11234]","$1,890,000","4,800 sqft",4 baths,4 beds,"$7,451","$1,711,219",40612465,-73909960,[nan],"[1600 sqft basement, Barbecue, Cable Ready, Co...","[Dishwasher, Dryer, Freezer, Garbage disposal,...","[Breakfast nook, Dining room, Family room, Lau...","[Exterior material: Brick, Metal, Other, Stone...",[nan],"[Floor size: 4,800 sqft, Heating: Gas, Last re..."

In [690]:
df['ADDITIONAL FEATURES'][0]

['Jacuzzi / Whirlpool', 'Living room', 'Parking Type: Garage Detached']

In [691]:
df['ADDITIONAL FEATURES'][0][0]

'Jacuzzi / Whirlpool'

In [692]:
#now lets do the price, zestimate and est_mortgage
p = df['price'][1]
p

'$3,195,000 '

In [693]:
p.strip('$').strip(' ')

'3,195,000'

In [694]:
import re

In [695]:
re.sub('[^0-9]','',p)

'3195000'

In [696]:
df['price']=map(lambda p: re.sub('[^0-9]','',p),df['price'])

In [697]:
# df['price'].astype(float,raise_)
df['price']=pd.to_numeric(df['price'])

In [698]:
df['price'][1]

3195000.0

In [699]:
df['floor_size'][1]

'4,500 sqft'

In [700]:
df.dtypes

address                 object
price                  float64
floor_size              object
bathrooms               object
bedrooms                object
est_mortgage            object
zprice                  object
latitude                 int64
longitude                int64
FACTS                   object
FEATURES                object
APPLIANCES INCLUDED     object
ROOM TYPES              object
CONSTRUCTION            object
ADDITIONAL FEATURES     object
OTHER                   object
dtype: object

In [701]:
df['floor_size']=map(lambda p: re.sub('[^0-9]','',p),df['floor_size'])

In [702]:
df['floor_size'].head()

0    2700
1    4500
2
3     725
4    4800
Name: floor_size, dtype: object

In [703]:
type(df['zprice'][1])

str

In [704]:
df['est_mortgage']=map(lambda p: re.sub('[^0-9]','',p),map(str,df['est_mortgage']))

In [705]:
df['est_mortgage'].head()

0     1966
1    12596
2     1913
3     3351
4     7451
Name: est_mortgage, dtype: object

In [706]:
zprice = df['zprice'].head(5)

In [707]:
df['zprice']=map(lambda p: re.sub('[^0-9]','',p),map(str,df['zprice']))

In [708]:
df['zprice'].head(10)

0    1519349
1    2649417
2
3     901980
4    1711219
5     292405
6    1077154
7     929313
8     477226
9
Name: zprice, dtype: object

In [709]:
for names in ['bathrooms','bedrooms']:
    df[names]=map(lambda p: re.sub('[^0-9]','',p),map(str,df[names]))

In [710]:
df[['bathrooms','bedrooms']].head()

  bathrooms bedrooms
0         4        3
1         6        6
2         3        4
3         1        1
4         4        4

In [711]:
for x in ['bathrooms','bedrooms','zprice','floor_size','est_mortgage']:
    df[x]=pd.to_numeric(df[x])

In [712]:
df.dtypes

address                 object
price                  float64
floor_size             float64
bathrooms              float64
bedrooms               float64
est_mortgage           float64
zprice                 float64
latitude                 int64
longitude                int64
FACTS                   object
FEATURES                object
APPLIANCES INCLUDED     object
ROOM TYPES              object
CONSTRUCTION            object
ADDITIONAL FEATURES     object
OTHER                   object
dtype: object

In [713]:
# df.to_csv('listings_clean.csv')

In [714]:
df.head()

,address,price,floor_size,bathrooms,bedrooms,est_mortgage,zprice,latitude,longitude,FACTS,FEATURES,APPLIANCES INCLUDED,ROOM TYPES,CONSTRUCTION,ADDITIONAL FEATURES,OTHER
0,"[124 Mackenzie St, Brooklyn, NY 11235]",520000.0,2700.0,4.0,3.0,1966.0,1519349.0,40580120,-73940420,[nan],"[900 sqft basement, Attic, Deck, Finished base...","[Dishwasher, Dryer, Microwave, Refrigerator, W...","[Dining room, Family room, Laundry room, Maste...","[Exterior material: Stucco, Roof type: Composi...","[Jacuzzi / Whirlpool, Living room, Parking Typ...","[Floor size: 2,700 sqft, Heating: Gas, Last re..."
1,"[36 Claver Pl, Brooklyn, NY 11238]",3195000.0,4500.0,6.0,6.0,12596.0,2649417.0,40682095,-73957780,"[Lot: 2,000 sqft, Multi Family, Built in 1901,...","[Deck, Fenced Yard, Finished basement, Firepla...","[Dishwasher, Dryer, Washer]","[Dining room, Family room, Library, Office, Wa...","[Exterior material: Other, Stories: 4, Structu...",[Vintage],"[Floor size: 4,500 sqft, Last remodel year: 19..."
2,"[755 Belmont Ave # 01, Brooklyn, NY 11208]",499000.0,NaN,3.0,4.0,1913.0,NaN,40672760,-73881840,"[Baths: 2 full, 1 half, Single Family, 4 days ...",[],[nan],[nan],[nan],[nan],"[Last remodel year: 2017, Zillow Home ID: 2095..."
3,"[250 W 15th St APT I, New York, NY 10011]",850000.0,725.0,1.0,1.0,3351.0,901980.0,40739900,-74001400,"[Cooperative, Built in 1930, 8 days on Zillow,...","[Elevator, Fireplace, Garden, Patio]",[Dishwasher],[nan],[Unit count: 59],"[bike_room, cats, co_purchase, dogs, gifts, li...","[Floor size: 725 sqft, Zillow Home ID: 2100550..."
4,"[2318 E 63rd St, Brooklyn, NY 11234]",1890000.0,4800.0,4.0,4.0,7451.0,1711219.0,40612465,-73909960,[nan],"[1600 sqft basement, Barbecue, Cable Ready, Co...","[Dishwasher, Dryer, Freezer, Garbage disposal,...","[Breakfast nook, Dining room, Family room, Lau...","[Exterior material: Brick, Metal, Other, Stone...",[nan],"[Floor size: 4,800 sqft, Heating: Gas, Last re..."

In [715]:
# lets devide the lat and long to 1000000 to get the right format
type(df['latitude'])

pandas.core.series.Series

In [716]:
df['latitude']=df['latitude']/1000000
df['longitude'] = df['longitude']/1000000

In [717]:
# # brainstorming about address column
# print df['address'][1]
# ",".join(df['address'][1])

In [718]:
# df.to_csv('zillo_clean1.csv',index=False)

In [719]:
df1 = df.copy()

In [720]:
df1.head(2)

,address,price,floor_size,bathrooms,bedrooms,est_mortgage,zprice,latitude,longitude,FACTS,FEATURES,APPLIANCES INCLUDED,ROOM TYPES,CONSTRUCTION,ADDITIONAL FEATURES,OTHER
0,"[124 Mackenzie St, Brooklyn, NY 11235]",520000.0,2700.0,4.0,3.0,1966.0,1519349.0,40.580120,-73.94042,[nan],"[900 sqft basement, Attic, Deck, Finished base...","[Dishwasher, Dryer, Microwave, Refrigerator, W...","[Dining room, Family room, Laundry room, Maste...","[Exterior material: Stucco, Roof type: Composi...","[Jacuzzi / Whirlpool, Living room, Parking Typ...","[Floor size: 2,700 sqft, Heating: Gas, Last re..."
1,"[36 Claver Pl, Brooklyn, NY 11238]",3195000.0,4500.0,6.0,6.0,12596.0,2649417.0,40.682095,-73.95778,"[Lot: 2,000 sqft, Multi Family, Built in 1901,...","[Deck, Fenced Yard, Finished basement, Firepla...","[Dishwasher, Dryer, Washer]","[Dining room, Family room, Library, Office, Wa...","[Exterior material: Other, Stories: 4, Structu...",[Vintage],"[Floor size: 4,500 sqft, Last remodel year: 19..."

In [721]:
# lets try to split the address column into street, barough and zim (state will be done later)

In [722]:
type(df['address'][0])

list

In [723]:
# so we have a list of elements in each observation of column 'address'.
# lets get seporate columns for each of the elements in the list

In [724]:
df1['address'].apply(pd.Series).head()
# this worked well

                      0         1         2
0      124 Mackenzie St  Brooklyn  NY 11235
1          36 Claver Pl  Brooklyn  NY 11238
2  755 Belmont Ave # 01  Brooklyn  NY 11208
3   250 W 15th St APT I  New York  NY 10011
4        2318 E 63rd St  Brooklyn  NY 11234

In [725]:
#lets save this new dataframe and then append it to the old on
# but first lets get the column names right

In [726]:
df_address = df['address'].apply(pd.Series)

In [727]:
df.shape

(135, 16)

In [728]:
df_address.rename(columns = {0:'street',1:'barough',2:'state_zip'},inplace= True)

In [729]:
df_address.head()

                 street   barough state_zip
0      124 Mackenzie St  Brooklyn  NY 11235
1          36 Claver Pl  Brooklyn  NY 11238
2  755 Belmont Ave # 01  Brooklyn  NY 11208
3   250 W 15th St APT I  New York  NY 10011
4        2318 E 63rd St  Brooklyn  NY 11234

In [730]:
# now we split the state_zip
df_zip_state = df_address['state_zip'].apply(lambda x: x.split(' '))\
                        .apply(pd.Series)\
                        .rename(columns = {0:'state',1:'zip'})

In [731]:
df_zip_state.head()

  state    zip
0    NY  11235
1    NY  11238
2    NY  11208
3    NY  10011
4    NY  11234

In [732]:
# this is the concatinated final form of address split
df_final = pd.concat([df_address.iloc[:,0:2],df_zip_state],axis =1)

In [733]:
df1 = pd.concat([df1,df_final],axis = 1)

In [734]:
# turning the 'address' to string from list


df['address'] = df[['address']].applymap(lambda x: ", ".join(x))
df['address'][0]

'124 Mackenzie St, Brooklyn, NY 11235'

In [735]:
df[['FEATURES']].applymap(lambda x: ", ".join(x)).head()

                                            FEATURES
0  900 sqft basement, Attic, Deck, Finished basem...
1  Deck, Fenced Yard, Finished basement, Fireplac...
2
3                 Elevator, Fireplace, Garden, Patio
4  1600 sqft basement, Barbecue, Cable Ready, Con...

In [736]:
df[['ADDITIONAL FEATURES']].applymap(lambda x: ", ".join(x)).head()

                                 ADDITIONAL FEATURES
0  Jacuzzi / Whirlpool, Living room, Parking Type...
1                                            Vintage
2                                                nan
3  bike_room, cats, co_purchase, dogs, gifts, liv...
4                                                nan

In [737]:
# from the above two experiments, we move forward and get it done!
print col_to_clean
df[col_to_clean] = df[col_to_clean].applymap(lambda x: ", ".join(x))

['FEATURES', 'ROOM TYPES', 'ADDITIONAL FEATURES', 'APPLIANCES INCLUDED', 'FACTS', 'OTHER', 'CONSTRUCTION']

In [738]:
df.head(10)

,address,price,floor_size,bathrooms,bedrooms,est_mortgage,zprice,latitude,longitude,FACTS,FEATURES,APPLIANCES INCLUDED,ROOM TYPES,CONSTRUCTION,ADDITIONAL FEATURES,OTHER
0,"124 Mackenzie St, Brooklyn, NY 11235",520000.0,2700.0,4.0,3.0,1966.0,1519349.0,40.580120,-73.940420,nan,"900 sqft basement, Attic, Deck, Finished basem...","Dishwasher, Dryer, Microwave, Refrigerator, Wa...","Dining room, Family room, Laundry room, Master...","Exterior material: Stucco, Roof type: Composit...","Jacuzzi / Whirlpool, Living room, Parking Type...","Floor size: 2,700 sqft, Heating: Gas, Last rem..."
1,"36 Claver Pl, Brooklyn, NY 11238",3195000.0,4500.0,6.0,6.0,12596.0,2649417.0,40.682095,-73.957780,"Lot: 2,000 sqft, Multi Family, Built in 1901, ...","Deck, Fenced Yard, Finished basement, Fireplac...","Dishwasher, Dryer, Washer","Dining room, Family room, Library, Office, Wal...","Exterior material: Other, Stories: 4, Structur...",Vintage,"Floor size: 4,500 sqft, Last remodel year: 190..."
2,"755 Belmont Ave # 01, Brooklyn, NY 11208",499000.0,NaN,3.0,4.0,1913.0,NaN,40.672760,-73.881840,"Baths: 2 full, 1 half, Single Family, 4 days o...",,nan,nan,nan,nan,"Last remodel year: 2017, Zillow Home ID: 20953..."
3,"250 W 15th St APT I, New York, NY 10011",850000.0,725.0,1.0,1.0,3351.0,901980.0,40.739900,-74.001400,"Cooperative, Built in 1930, 8 days on Zillow, ...","Elevator, Fireplace, Garden, Patio",Dishwasher,nan,Unit count: 59,"bike_room, cats, co_purchase, dogs, gifts, liv...","Floor size: 725 sqft, Zillow Home ID: 2100550953"
4,"2318 E 63rd St, Brooklyn, NY 11234",1890000.0,4800.0,4.0,4.0,7451.0,1711219.0,40.612465,-73.909960,nan,"1600 sqft basement, Barbecue, Cable Ready, Con...","Dishwasher, Dryer, Freezer, Garbage disposal, ...","Breakfast nook, Dining room, Family room, Laun...","Exterior material: Brick, Metal, Other, Stone,...",nan,"Floor size: 4,800 sqft, Heating: Gas, Last rem..."
5,"445 W 240th St APT 2K, Bronx, NY 10463",319000.0,850.0,1.0,1.0,1223.0,292405.0,40.888595,-73.904479,"Condo, Built in 1949, 7 days on Zillow, Views ...",Elevator,nan,nan,Unit count: 78,"Amenities: Close to Bus, Close to Railroad, Cl...","Floor size: 850 sqft, Parcel #: 057801015, Zil..."
6,"5915 Madison St, Ridgewood, NY 11385",1299000.0,NaN,2.0,5.0,5121.0,1077154.0,40.706100,-73.901360,"Lot: 2,500 sqft, Multi Family, Built in 1920, ...",,"Range / Oven, Refrigerator",nan,"Room count: 11, Unit count: 2",nan,"Heating: Gas, Zillow Home ID: 2097548369"
7,"8303 10th Ave, Brooklyn, NY 11228",999000.0,1535.0,1.0,3.0,3939.0,929313.0,40.619505,-74.018580,nan,"Finished basement, Flooring: Hardwood, Parking...","Range / Oven, Refrigerator",Dining room,"Exterior material: Brick, Stucco, Room count: ...",nan,"Floor size: 1,535 sqft, Last remodel year: 189..."
8,"13018 148th St # 1, Jamaica, NY 11436",499000.0,NaN,3.0,3.0,1913.0,477226.0,40.668300,-73.790400,nan,,nan,nan,nan,nan,"Last remodel year: 2017, Zillow Home ID: 20954..."
9,"12008 Springfield Blvd # 01, Cambria Heights, ...",469000.0,NaN,3.0,3.0,1798.0,NaN,40.690510,-73.746770,nan,,nan,nan,nan,nan,"Last remodel year: 2017, Zillow Home ID: 20953..."

In [740]:
# finally, im going to replace all the empty string of empty cells and cells that have 'nan' string to NA

In [741]:
df[df.applymap(lambda x: x=="nan")]=np.nan

In [742]:
df[df['ADDITIONAL FEATURES']=='']

Empty DataFrame
Columns: [address, price, floor_size, bathrooms, bedrooms, est_mortgage, zprice, latitude, longitude, FACTS, FEATURES, APPLIANCES INCLUDED, ROOM TYPES, CONSTRUCTION, ADDITIONAL FEATURES, OTHER]
Index: []

In [743]:
df.head()

,address,price,floor_size,bathrooms,bedrooms,est_mortgage,zprice,latitude,longitude,FACTS,FEATURES,APPLIANCES INCLUDED,ROOM TYPES,CONSTRUCTION,ADDITIONAL FEATURES,OTHER
0,"124 Mackenzie St, Brooklyn, NY 11235",520000.0,2700.0,4.0,3.0,1966.0,1519349.0,40.580120,-73.94042,NaN,"900 sqft basement, Attic, Deck, Finished basem...","Dishwasher, Dryer, Microwave, Refrigerator, Wa...","Dining room, Family room, Laundry room, Master...","Exterior material: Stucco, Roof type: Composit...","Jacuzzi / Whirlpool, Living room, Parking Type...","Floor size: 2,700 sqft, Heating: Gas, Last rem..."
1,"36 Claver Pl, Brooklyn, NY 11238",3195000.0,4500.0,6.0,6.0,12596.0,2649417.0,40.682095,-73.95778,"Lot: 2,000 sqft, Multi Family, Built in 1901, ...","Deck, Fenced Yard, Finished basement, Fireplac...","Dishwasher, Dryer, Washer","Dining room, Family room, Library, Office, Wal...","Exterior material: Other, Stories: 4, Structur...",Vintage,"Floor size: 4,500 sqft, Last remodel year: 190..."
2,"755 Belmont Ave # 01, Brooklyn, NY 11208",499000.0,NaN,3.0,4.0,1913.0,NaN,40.672760,-73.88184,"Baths: 2 full, 1 half, Single Family, 4 days o...",,NaN,NaN,NaN,NaN,"Last remodel year: 2017, Zillow Home ID: 20953..."
3,"250 W 15th St APT I, New York, NY 10011",850000.0,725.0,1.0,1.0,3351.0,901980.0,40.739900,-74.00140,"Cooperative, Built in 1930, 8 days on Zillow, ...","Elevator, Fireplace, Garden, Patio",Dishwasher,NaN,Unit count: 59,"bike_room, cats, co_purchase, dogs, gifts, liv...","Floor size: 725 sqft, Zillow Home ID: 2100550953"
4,"2318 E 63rd St, Brooklyn, NY 11234",1890000.0,4800.0,4.0,4.0,7451.0,1711219.0,40.612465,-73.90996,NaN,"1600 sqft basement, Barbecue, Cable Ready, Con...","Dishwasher, Dryer, Freezer, Garbage disposal, ...","Breakfast nook, Dining room, Family room, Laun...","Exterior material: Brick, Metal, Other, Stone,...",NaN,"Floor size: 4,800 sqft, Heating: Gas, Last rem..."

In [744]:
df.dtypes

address                 object
price                  float64
floor_size             float64
bathrooms              float64
bedrooms               float64
est_mortgage           float64
zprice                 float64
latitude               float64
longitude              float64
FACTS                   object
FEATURES                object
APPLIANCES INCLUDED     object
ROOM TYPES              object
CONSTRUCTION            object
ADDITIONAL FEATURES     object
OTHER                   object
dtype: object

In [745]:
df = pd.concat([df,df_final],axis=1)

In [746]:
df.head()

,address,price,floor_size,bathrooms,bedrooms,est_mortgage,zprice,latitude,longitude,FACTS,FEATURES,APPLIANCES INCLUDED,ROOM TYPES,CONSTRUCTION,ADDITIONAL FEATURES,OTHER,street,barough,state,zip
0,"124 Mackenzie St, Brooklyn, NY 11235",520000.0,2700.0,4.0,3.0,1966.0,1519349.0,40.580120,-73.94042,NaN,"900 sqft basement, Attic, Deck, Finished basem...","Dishwasher, Dryer, Microwave, Refrigerator, Wa...","Dining room, Family room, Laundry room, Master...","Exterior material: Stucco, Roof type: Composit...","Jacuzzi / Whirlpool, Living room, Parking Type...","Floor size: 2,700 sqft, Heating: Gas, Last rem...",124 Mackenzie St,Brooklyn,NY,11235
1,"36 Claver Pl, Brooklyn, NY 11238",3195000.0,4500.0,6.0,6.0,12596.0,2649417.0,40.682095,-73.95778,"Lot: 2,000 sqft, Multi Family, Built in 1901, ...","Deck, Fenced Yard, Finished basement, Fireplac...","Dishwasher, Dryer, Washer","Dining room, Family room, Library, Office, Wal...","Exterior material: Other, Stories: 4, Structur...",Vintage,"Floor size: 4,500 sqft, Last remodel year: 190...",36 Claver Pl,Brooklyn,NY,11238
2,"755 Belmont Ave # 01, Brooklyn, NY 11208",499000.0,NaN,3.0,4.0,1913.0,NaN,40.672760,-73.88184,"Baths: 2 full, 1 half, Single Family, 4 days o...",,NaN,NaN,NaN,NaN,"Last remodel year: 2017, Zillow Home ID: 20953...",755 Belmont Ave # 01,Brooklyn,NY,11208
3,"250 W 15th St APT I, New York, NY 10011",850000.0,725.0,1.0,1.0,3351.0,901980.0,40.739900,-74.00140,"Cooperative, Built in 1930, 8 days on Zillow, ...","Elevator, Fireplace, Garden, Patio",Dishwasher,NaN,Unit count: 59,"bike_room, cats, co_purchase, dogs, gifts, liv...","Floor size: 725 sqft, Zillow Home ID: 2100550953",250 W 15th St APT I,New York,NY,10011
4,"2318 E 63rd St, Brooklyn, NY 11234",1890000.0,4800.0,4.0,4.0,7451.0,1711219.0,40.612465,-73.90996,NaN,"1600 sqft basement, Barbecue, Cable Ready, Con...","Dishwasher, Dryer, Freezer, Garbage disposal, ...","Breakfast nook, Dining room, Family room, Laun...","Exterior material: Brick, Metal, Other, Stone,...",NaN,"Floor size: 4,800 sqft, Heating: Gas, Last rem...",2318 E 63rd St,Brooklyn,NY,11234

In [747]:
df.to_csv('zillow_clean_final.csv',index=False)

In [ ]:
# cleaning TRULIA

In [3]:
df_trulia = pd.read_csv('listings_trulia.csv')
#df_zillow = pd.read_csv('/Users/vMac/Desktop/Bootcamp/Week5/zillow_clean_final.csv')

In [4]:
df_trulia.dtypes

city                  object
listing_id             int64
bathrooms              int64
price_per_sqft       float64
build_year           float64
url                   object
price                float64
bedrooms             float64
state                 object
longitude            float64
zip_code             float64
partial_bathrooms    float64
street                object
address               object
latitude             float64
house_type            object
state_code            object
sqft                 float64
neighborhood          object
dtype: object

In [808]:
df_zillow.dtypes

address                 object
price                  float64
floor_size             float64
bathrooms              float64
bedrooms               float64
est_mortgage           float64
zprice                 float64
latitude               float64
longitude              float64
FACTS                   object
FEATURES                object
APPLIANCES INCLUDED     object
ROOM TYPES              object
CONSTRUCTION            object
ADDITIONAL FEATURES     object
OTHER                   object
street                  object
barough                 object
state                   object
zip                      int64
dtype: object

In [5]:
df_trulia.head()

,city,listing_id,bathrooms,price_per_sqft,build_year,url,price,bedrooms,state,longitude,zip_code,partial_bathrooms,street,address,latitude,house_type,state_code,sqft,neighborhood
0,New York,3258225322,1,0.00000,1972.0,https://www.trulia.com/property/3258225322-200...,689000.0,1.0,New York,-73.99554,10010.0,0.0,E 24th St,"200 East 24th Street #505, New York, NY",40.744760,Coop,NY,NaN,Chelsea
1,New York,3257554568,4,940.37616,1900.0,https://www.trulia.com/property/3257554568-104...,2350000.0,4.0,New York,-73.94345,10027.0,NaN,W 131st St,"104 West 131st Street, New York, NY",40.811626,Multi-Family Home,NY,2499.0,Harlem
2,New York,3258335550,1,958.00000,1956.0,https://www.trulia.com/property/3258335550-440...,479000.0,NaN,New York,-73.95140,10075.0,NaN,E 79th St,"440 East 79th Street #14L, New York, NY",40.771446,Coop,NY,500.0,Upper East Side
3,New York,3231436943,3,2117.99270,1927.0,https://www.trulia.com/property/3231436943-100...,4685000.0,3.0,New York,-74.01257,10007.0,NaN,Barclay St,"100 Barclay Street #14R, New York, NY",40.713894,Condo,NY,2212.0,Tribeca
4,New York,3258504888,1,1453.36230,NaN,https://www.trulia.com/property/3258504888-139...,670000.0,NaN,New York,-73.94878,10029.0,NaN,Park Ave,"1399 Park Avenue #12C, New York, NY",40.791435,Condo,NY,461.0,East Harlem

In [810]:
# change the zip in trulia to int format
#df_trulia[['zip_code']].astype(int)
pd.isnull(df_trulia['zip_code']).sum()

2

In [811]:
# lets see which ones are these 
# pd.isnull(df_trulia['zip_code']).values
pd.isnull(df_trulia['zip_code']).head()

0    False
1    False
2    False
3    False
4    False
Name: zip_code, dtype: bool

In [815]:
# i found them, and decided to just delete the fucking thing, too expancive and they are not worth my time,
# because they didnt care to take the time to list their add properly
# df_trulia[pd.isnull(df_trulia['zip_code'])] = None # this didn't work well
# need to use df.drop()
df_trulia.drop([141,146], inplace = True)

In [816]:
df_trulia[pd.isnull(df_trulia['zip_code'])]
#df_trulia[['zip_code']].astype(int)

Empty DataFrame
Columns: [city, listing_id, bathrooms, price_per_sqft, build_year, url, price, bedrooms, state, longitude, zip_code, partial_bathrooms, street, address, latitude, house_type, state_code, sqft, neighborhood]
Index: []

In [824]:
df_trulia['zip_code']=df_trulia[['zip_code']].astype(int)

In [828]:
df_trulia[['zip_code']].head()

   zip_code
0     10005
1     10065
2     10022
3     10028
4     10001

In [831]:
df_trulia.dtypes

city                  object
listing_id             int64
bathrooms              int64
price_per_sqft       float64
build_year           float64
url                   object
price                  int64
bedrooms             float64
state                 object
longitude            float64
zip_code               int64
partial_bathrooms    float64
street                object
address               object
latitude             float64
house_type            object
state_code            object
sqft                 float64
neighborhood          object
dtype: object

In [832]:
df_trulia.to_csv('/Users/vMac/Desktop/Bootcamp/Week5/trulia_clean_final.csv',index=False)

In [ ]:
# THE END